# See Clang 12 doc: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# Turn on/off in code by: '// clang-format on' or '// clang-format off'.

BasedOnStyle: Google

Language: Cpp

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

ColumnLimit: 110
IndentWidth: 2

BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: false

NamespaceIndentation: None
AlignEscapedNewlines: true
AlignTrailingComments: true
